.cardSearch{
    
    width: 100%;
    padding: 2rem 5rem 2rem 0;
    border-bottom: 1px solid #eee;

    &:nth-last-child(){
        border: none;
    }

    &__cards{
        @include displayFlex(row);
        width: 100%;

        &-containerImg{
            flex-shrink: 0;
            width: 16rem;
            height: 16rem;
            margin: 0;
            overflow: hidden;
            margin-right: 2.4rem;
            margin-left: 2.4rem;
            flex-basis: 16rem;
            border-radius: 0.4rem;

            &-img{
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
                font-size: 1px;
            }
        }
    
        &-body{
            @include fontLigth($fontClara);
            color: $colorFontTituloFav;
            font-weight: 300;
            display: inherit;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            flex-grow: 1;
            position: relative;

            &-name{
                font-size: 2rem;
                margin-bottom: 1rem;
                width: 90%;
                text-overflow: clip;
                white-space: nowrap;
                overflow: hidden;
            }

            &-price{
                font-size: 2.4rem;
                font-weight: 400;
                margin-right: 0.8rem;


                &-off{
                    font-size: 1.4rem;
                    vertical-align: 3px;
                    padding-left: 1rem;
                    color: #39b54a;
                }
                
            }

            &-priceBefore{
                font-size: 1.6rem;
                color: #666;
                text-decoration: line-through;
            }

            &-info{
                display: inherit;
                flex-direction: row;
                width: 33%;
                justify-content: space-between;
                align-items: center;
                color: #666;    
                font-size: 1.4rem;
                font-weight: 500;
                margin-top: 2rem;

                &-state{
                    margin: 0;
                    font-size: inherit;
                    &::first-letter{
                        text-transform: uppercase;
                    }
                }
    
                &-shippingFull{
                    background-color: #e6f7ee;
                    color: #00a650;
                    font-size: 1.4rem;
                    font-weight: 600;
                    line-height: 1;
                    padding: 1px 5px 4px;
                }

                &-shippingFree{
                    color: #00a650;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 1;
                    margin-right: 10px;
                }
            }
        }
    }
    
    
}