@font-face{
  font-family: 'Proxima Nova Ligth';
  src: url('../assets/fonts/proximanova-light.woff2') format('TrueType');
}

@font-face{
  font-family: 'Proxima Nova Regular';
  src: url('../assets/fonts/proximanova-regular.woff2') format('TrueType');
}

@font-face{
  font-family: 'Proxima Nova SemiBold';
  src: url('../assets/fonts/proximanova-semibold.woff2') format('TrueType');
}



// Funciones
@mixin displayFlex($direction, $align: stretch, $justify: center, $wrap: nowrap) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
  justify-content: $justify;
  align-items: $align;
}

@mixin fontLigth ($tipoLetra, $fontSize: 1.4rem){
  font-family: $tipoLetra, arial;
  font-size: $fontSize;
  color:  $colorLetraMenu;
}

// Variables de proyecto.
$fondoMl: linear-gradient(0,#e6e6e6,hsla(0,0%,100%,0) 100%);

$colorPrincipal: #fff159;
$colorBlanco: #ffffff;
$colorLetraMenu: rgba(51,51,51,.6);
$colorAzulBotones: #3483fa;
$coloBordesGris: #eee;

$fontClara: "Proxima Nova Ligth";
$fontSemiOscura: "Proxima Nova SemiBold";
$fontRegular: "Proxima Nova Regular";

// Tamaño letra Cards
$fontDespues:  2.4rem;
$fontAntes:  1.4rem;
$fontNombre:  1.4rem;

// Color font cards
$colorFontNombreCard: #666;
$colorFontPrecioAnterior: #999;
$colorLinkCardHover: #1259c3;
$colorFontTituloFav: #333;

$boxShadowButtonSlider: 0 2px 4px 0 rgba(0,0,0,.19);
$boxShadowButtonSliderHover: 0 7px 16px 0 rgba(0,0,0,.2),0 1px 3px 0 rgba(0,0,0,.1);

//PlaceHolder para tamano de secciones
%widthSection{
  width: 100%;
} 

// Placeholder para los botones del slider
%sliderButton{
  opacity: 0;
  cursor: pointer;
  border-top-right-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
  background-color: $colorBlanco;
  box-shadow: $boxShadowButtonSlider;
  width: 4rem;
  height: 8rem;
  padding: 0px 0.8rem;
  transition: opacity, box-shadow 0.4s; 
}

%cardButton{
  @extend %sliderButton;
  text-align: center;
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 50%;
}

%hoverLinks{
  text-decoration: none;
  color: $colorLinkCardHover;
}


%paginationCard{
  overflow: visible;

  &:hover .swiper-button-next, &:hover .swiper-button-prev{
      opacity: 1;
  }

  // Botones next y prev del slider
  & .swiper-button-next{
      right: -3.4rem;
  }

  & .swiper-button-prev{  
      left: -3.4rem;
  }

  & .swiper-button-next,
  & .swiper-button-prev
  {
      @extend %cardButton;

      &:hover{
          @extend %sliderButtonHover;
      }

      &::after{
          font-size: 1.6rem;
          font-weight: bold;
      }
  }

  // Position bullet del slider
  & .swiper-pagination-bullet{
      width: 0.6rem;
      height: 0.6rem;
      border-radius: 50%;
  }

  & .swiper-pagination-bullet-active{
      width: 0.9rem;
      height: 0.9rem;
      background-color: $colorBlanco;
      border: 1px solid rgba(0,0,0,.2);
  }
}

%sliderButtonHover{
  box-shadow: $boxShadowButtonSliderHover;
}

// Estilos usados para limpiar los user agent.

:root{
  font-size: 10px;
  font-family: $fontClara;
  background-image: $fondoMl;
}

input[type="number"]{
  -webkit-appearance: textfield !important;
  margin: 0;
  -moz-appearance:textfield !important;
}

// Estilos para el tamaño de cada section
.section{
  @extend %widthSection;
}

.section__container{
  width: 80%;
  height: 34rem;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.section__title{
  @extend .section__container;
  height: auto;
  margin-bottom: 2.2rem;
  
  &-container{
    @include displayFlex(row,center,space-between);
    display: inline-flex;
    min-width: 10%;
  }

  &-container-h1{
    @include fontLigth($fontClara, 2.6rem);
    color: $colorFontNombreCard;
    font-weight: 300;
    margin: 0 0 0 8px;
  }

  &-container-linkMas{
    @include fontLigth($fontClara, 1.6rem);
    color: $colorAzulBotones;
    margin-left: 1.6rem;
    margin-bottom: -0.5rem;
  }

  &-container-linkMas:hover{
    @extend %hoverLinks;
  }
}

// Estilos para los botones y dropdown de Boots.

%dropdown{
  @include fontLigth($fontClara);
  padding: 0%;
  border-radius: 0%;
  color: inherit !important;
  background-color: inherit !important;
  border: none !important;
  border-color: transparent !important;
  outline: none !important;
  line-height: normal;

  &:active,
  &:focus,
  &:hover{
    color: inherit !important;
    background-color: inherit !important;
    border: none !important;
    border-color: transparent !important;
    outline: none !important;
  }
}

// Estilos para los dropdowns 
%arrowDropDown{
  border-style: solid;
  border-width: 0 1.5px 1.5px 0;
  content: '';
  display: inline-block;
  height: 6px;
  position: relative;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 6px;
  color: rgba(0,0,0,.3);
  margin: 5px 0 0 6px;
  vertical-align: top;
  will-change: transform;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

@import-normalize;
@import "~bootstrap/scss/bootstrap";
@import './_header';
@import './_main';
@import './search';
@import './producto';

// Modifico clases de Boots.
.dropdown-menu{
  background: transparent;
  border: none;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle{
  @extend %dropdown;
}


// Estilos para el Header.

#logoTitle{
  border-collapse: collapse;
  -webkit-box-direction: normal;
  font-family: $fontClara;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  font-size: 13px;
  font-weight: 400;
  color: $colorAzulBotones;
  transition: color .2s ease-in-out;
  box-sizing: border-box;
  display: inline-block;
  background-repeat: no-repeat;
  overflow: hidden;
  text-indent: -999px;
  // position: absolute;
  // left: 10px;
  background-image: url(https://http2.mlstatic.com/frontend-assets/ui-navigation/5.12.0/mercadolibre/logo__large_plus.png);
  height: 34px;
  top: 11px;
  width: 134px;
  outline: 0;
  text-decoration: none;
}
