.search{

    @include displayFlex(row, center, center);
    height: 100vh;
    min-height: 100vh;

    &__products{
        flex-basis: 75%;
        min-height: 90vh;
        background-color: $colorBlanco;
        border-radius: 0.5rem;
    }

    &__aside{
        flex-basis: 24%;
    }
}