// Buscador de productos
.header__searcher{
    @include displayFlex(row);
    width: 50%;
    overflow: hidden;


    input{
        flex-basis: 85%;
        flex-grow: 1;
        border: none;
        padding: 0.7rem 1.5rem 0.9rem 1.5rem;
        font-size: 1.6rem;
        font-weight: normal;
        letter-spacing: normal;
    }

    a{
        @include displayFlex(row, center, center);
        flex-basis: 6%;
        background-color: $colorBlanco;
        padding: 0rem 1rem;
        // font-weight: normal;
        font-size: 1.6rem;
        cursor: pointer;
    }
}

.header__searcher-lupaButton{
    @include displayFlex(row, center, center);
    width: 90%;
    height: 54%;
    border-left: 1px solid rgba(204, 204, 204, 0.63);
    padding: 0.3rem;

    img{
        width: 57%;
        padding-left: 0.6rem;
    }
}