// Titulo y link de la Card


// Slider
#sliderOfertas{
    @extend %paginationCard;
    position: static;
}

.sliderOfertas__slider{
    height: 31.4rem;

    &:hover{
        height: 34rem;
    }
}

.sliderOfertas__slider-cards{
    width: 22.4rem;
    height: 100%;
    cursor: pointer;

    &:hover .sliderOfertas__slider-cards-body-addCarrito{
        transform: scale(1);
    }
}

.sliderOfertas__slider-cards-like{
    position: absolute;
    z-index: 20;
    width: 36px;
    height: 36px;
    top: 16px;
    right: 16px;
    border: none;
    cursor: pointer;
    background-color: hsla(0,0%,100%,.7);
    border-radius: 50%;
    padding: 0;
    transform-origin: center;
    transform: scale(0);

    &-heart{
        fill: #3483fa;
        width: 18px;
        top: 11px;
        position: absolute;
        left: 9px;
    }
}

.sliderOfertas__slider-cards-like--liked{
    display: none;
    transform: scale(1);
}

.sliderOfertas__slider-cards-img{
    display: block;
    position: relative;
    height: 22.4rem;
    object-fit: scale-down;
    border-bottom: 1px solid #cccccc;
}

.sliderOfertas__slider-cards-body{
    @include displayFlex(column, flex-start, space-between);
    padding: 2.4rem 2.4rem 1.4rem;

    &-priceBefore{
        @include fontLigth($fontClara, $fontAntes);
        color: $colorFontPrecioAnterior;
        text-decoration: line-through;
        transform: scale(0,0);
        position: absolute;
        top: 23.8rem;
    }

    &-cuotas{
        @include fontLigth($fontClara);
        margin-top: 0.1rem;
        color: $colorFontTituloFav;
    }

    &-priceAfter{
        @include fontLigth($fontClara, $fontDespues);
        color: black;

        &-off{
            font-size: 1.4rem;
            vertical-align: 3px;
            padding-left: 1rem;
            color: #39b54a;
        }
    }

    &-name{
        @include fontLigth($fontClara, 1.4rem);
        margin: 0px;
        margin-top: 0.6rem;
        color: $colorFontNombreCard;
        transform: scale(0,0);
    }
}

.sliderOfertas__slider-cards-body-name{
    display: block;
    text-overflow: clip;
    word-break: break-all;
    // white-space: normal;
}

.sliderOfertas__slider-cards-body-shipping{
    width: 36px;
    height: 36px;
    top: 20.5rem;
    right: 3%;
    border: 1px solid rgba(51,51,51,.1);
    background-color: #fff;
    border-radius: 50%;
    position: absolute;

    &-logo{
        fill: #39b54a;
        width: 20px;
        left: 8px;
        top: 9px;
        position: absolute;
    }
}

.sliderOfertas__slider-cards-body-addCarrito{
    @include fontLigth($fontClara);
    transform: scale(0);
    padding-top: 15px;
    padding-bottom: 15px;
    color: #3483fa;
    display: block;
    font-weight: 400;
    text-align: center;
}

.linkCard:hover .sliderOfertas__slider-cards-body-name,
.linkCard:hover .sliderOfertas__slider-cards-body-priceBefore,
.linkCard:hover .sliderOfertas__slider-cards-like{
    transform: scale(1);
}

.linkCard:hover .sliderOfertas__slider-cards-like{
    background-color: hsla(0,0%,100%,.7);
    border-color: unset;
    &-heart{
        fill: #1259c3;
    }
}

.noSaw{
    @include displayFlex(row, center, center);
    width: 100%;
    height: 100%;
    font-size: 2rem;
    font-weight: normal;
}

// Estilos por si se muestra en el detalle del productos
.sliderOfertas__slider--detailProduct{
    height: 28rem;

    &:hover{
        min-height: 28rem;
    }
}

.sliderOfertas__slider-cards-body--detailProduct{
    padding: 10px 11px 11px;
    padding-bottom: 0%;
}

.sliderOfertas__slider-cards-body-priceAfter--detailProduct{
    font-size: 1.9rem;
}

.sliderOfertas__slider-cards-body-name--detailProduct{
    font-size: 1.2rem;
    transform: scale(1);
}