#logoTitle{
  border-collapse: collapse;
  -webkit-box-direction: normal;
  font-family: "Proxima Nova",-apple-system,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  font-size: 13px;
  font-weight: 400;
  color: #3483fa;
  transition: color .2s ease-in-out;
  box-sizing: border-box;
  display: inline-block;
  background-repeat: no-repeat;
  overflow: hidden;
  text-indent: -999px;
  position: absolute;
  left: 10px;
  background-image: url(https://http2.mlstatic.com/frontend-assets/ui-navigation/5.12.0/mercadolibre/logo__large_plus.png);
  height: 34px;
  top: 11px;
  width: 134px;
  outline: 0;
  text-decoration: none;
}